<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Feng Shui Schools</title>
<style>

.school {
  break-inside: avoid;
  padding: 1em;
  margin-bottom: 1.5em;
}
</style>
</head>
<body>

    <br>
<div class="container">
  <div class="school">
    <h2>The San Yuan School</h2>
    <p>Master Ooi Wai Loon is one of only a few consultants worldwide certified in Classical Feng Shui and well versed in this ancient science. Through skills and closely guarded secrets learned directly from world renowned Chinese Master, Master Ooi Wai Loon offers clients unprecedented results.
    </p>
        <p>Born in Malaysia, Master Ooi Wai Loon received his first Feng Shui exposure from his father at the tender age of 12.
</p>
        <p> Since then, he has shared this knowledge with many people coming from different backgrounds and cultures. His DIRECT APPROACH and RESULT ORIENTED method have inspired and changed the lives of many people to be successful today..
        </p>
<p>
His clientele spread around the world in 27 countries ranging from private individuals to listed companies in Malaysia, London & New York with a combined annual turnover of USD 30 billion annually.
</p>
  </div>
</body>
</html>
